$base_font: 'Molengo', 'Adobe Caslon Pro', 'Hoefler Text', Garamond, serif
$title_font: 'Myriad Pro', Corbel, 'Helvetica Neue', Helvetica, 'Lucida Grande', Verdana, sans-serif

*
	font-family: $base_font

h1, h2, h3, h4, h5
	font-family: $title_font

.clear
	clear: both
