* {
  font-family: "Molengo", "Adobe Caslon Pro", "Hoefler Text", Garamond, serif; }

h1, h2, h3, h4, h5 {
  font-family: "Myriad Pro", Corbel, "Helvetica Neue", Helvetica, "Lucida Grande", Verdana, sans-serif; }

.clear {
  clear: both; }
