%div.grid_16
  - @github.repositories.keys.each do |repo|
    - repo_p = @github.repositories[repo]
    - if repo_p.open_issues.count > 0
      %div.repo
        %h2= link_to repo, repo_p.url
        - repo_p.open_issues.each do |issue|
          %div.issue
            %h3
              = link_to issue.title, issue.url
              = issue.user
              = issue.updated_at.strftime("%d/%m/%Y %H:%M")